rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite lectura pública permanente del catálogo, productos y configuración
    // y escritura para la administración de la tienda.
    match /{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
