rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Permite lectura pública para que clientes vean fotos de productos y banners
      // y escritura para el panel de administración
      allow read: if true;
      allow write: if true;
    }
  }
}
